In [ ]:
#Import Depends 
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn import svm 
from sklearn.metrics import accuracy_score

In [ ]:
#Data 
try : 
  data = pd.read_csv('diabetes.csv')
except :
  print("File doesn't exist reading from Github .....") 
  data = pd.read_csv('https://raw.githubusercontent.com/MedX1736/MachineLearning_Projects/main/Diabetes%20Prediction/diabetes.csv')

File doesn't exist reading from Github .....

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
print("The Data has: " + str(data.shape[0]) + " Rows" ) 
print("The Data has: " + str(data.shape[1]) + " Columns" ) 
print("Which are: ")
print(data.columns)

The Data has: 768 Rows
The Data has: 9 Columns
Which are:
Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
# Separating Data and labels 
X = data.drop(columns='Outcome',axis = 1)
Y = data['Outcome']

In [ ]:
print('Data Shape : ',X.shape)
print('Lables Shape : ',Y.shape)

Data Shape :  (768, 8)
Lables Shape :  (768,)

In [ ]:
#Split data into training and test Data 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8 , stratify=Y , random_state = 2 )

In [ ]:
print(X.shape,X_train.shape,X_test.shape)
print(Y.shape,Y_train.shape,Y_test.shape)

(768, 8) (614, 8) (154, 8)
(768,) (614,) (154,)

In [ ]:
#Training the model 
classifier  = svm.SVC(kernel = 'linear')

In [ ]:
 classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
#Evaluating Model 
predictions =classifier.predict(X_test)
print("Accuracy : ", accuracy_score(predictions,Y_test))

Accuracy :  0.7727272727272727

In [ ]:
input_data = (1,89,76,34,37,31.2,0.192,23)

input_as_np = np.asarray(input_data)
reshaped_data = input_as_np.reshape(1,-1)

prediction = classifier.predict(reshaped_data)

if (prediction[0] == 1 ) : 
  print("This person is diabetic")
elif (prediction[0] == 0) : 
  print("This person is not diabetic")

This person is not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

Saving the trained model

In [ ]:
#importing pickle 
import pickle

In [ ]:
filename = 'trained_model.sav'
pickle.dump(classifier,open(filename,'wb'))

In [ ]:
#Loading the model 
load_model = pickle.load(open(filename,'rb'))

In [ ]:
input_data = (1,89,76,34,37,31.2,0.192,23)

input_as_np = np.asarray(input_data)
reshaped_data = input_as_np.reshape(1,-1)

prediction = classifier.predict(reshaped_data)

if (prediction[0] == 1 ) : 
  print("This person is diabetic")
elif (prediction[0] == 0) : 
  print("This person is not diabetic")

This person is not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"